body {
    background: var(--gradient);
}

main {
    width: 100%;
    height: calc(100% - var(--nav-height));
    display: grid;
    place-items: center;
}


.error_message_hiden {
    visibility: collapse;
}

.error_message_visible {
    color: rgb(199, 0, 0);
    margin: 0;
    visibility: visible;
}

.contact-form input,
textarea {
    border-radius: 5px;
    padding: 1em;
    border: 0px;
    resize: none;
    background-color: var(--secondary);
    color: white;

}

.form-title{
    color: white;
    margin-bottom: 1em;
}

.contact-form input,
textarea:focus {
    outline: none;
}

form {
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    background-color: var(--primary);
    position: relative;
}

form a {
    cursor: pointer;
}

.container p {
    color: white;
}

.container {
    margin: 10px 20px 10px 20px;
    width: auto;
}

.submit_contact_form {
    margin-top: 2em;
    background-color: var(--accent);
    padding: 1em;
    border-radius: 15px;
    color: white;
}

.submit_contact_form:hover {
    scale: 110%;
    animation: scale 0.4s ease-out;
}

.report {
    position: relative;
    color: white;
    text-decoration: none;
}

@media (min-width: 1300px){
    .report {
        position: absolute;
        top: 95%;
        left: 90%;
    }
} 

@media screen and (max-device-width: 425px) {
    .nav-list a li span {
        display: none;
    }

    
}

@keyframes scale {
    0% {
        scale: 100%;
    }

    100% {
        scale: 110%;
    }
}
