@font-face {
    font-family: "Michroma";
    src: url("../static/Michroma-Regular.ttf");
}

@font-face {
    font-family: "Amaranth";
    src: url("../static/Amaranth-Regular.ttf");
}

@font-face {
    font-family: "magic-school";
    src: url("../static/magic-school.one.ttf");
}


header {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    background: var(--gradient);
    color: white;

    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "title"
        "latest-version"
        "go-down";
}

#logo {
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.info,
.tutorial,
.about {
    width: 100%;
    height: fit-content;
    padding: 4em;
}

#info_icon {
    float: right;    
    margin: 0 0 0 25px;
}

#tutorial_icon {
    float: left;    
    margin: 30px 35px 0 0;
}

#about_icon {
    float: right;    
    margin: 0 0 0 25px;
}

.title {
    grid-area: title;

    font-size: 10vw;
    font-family: "magic-school";
    text-align: center;
}

.latest-version {
    grid-area: latest-version;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--secondary);
    width: 18em;
    aspect-ratio: 5/1;
    border-radius: 4.5em;
}

.go-down {
    grid-area: go-down;

    display: grid;
    place-items: center;
    width: 3em;
    aspect-ratio: 1;
    background-color: #381863;
    border-radius: 50%;
    overflow: none;
}

.go-down:hover {
    scale: 110%;
    animation: scale 0.4s ease-out;
}

a {
    text-decoration: none;
    color: white;
}

.latest-link:hover {
    scale: 110%;
    animation: scale 0.4s ease-out;
}

main div:nth-child(even) {
    background-color: rgba(38, 16, 66);
    color: white;
    opacity: 0.9;
}

.about p {
    margin-top: 3%;
}

@keyframes scale {
    0% {
        scale: 100%;
    }

    100% {
        scale: 110%;
    }
}

@media screen and (max-device-width: 768px){
    .title {
        font-size: 13vw;
    }
}

@media screen and (max-device-width: 425px){
    .nav-list a li span {
        display: none;
    }

    .title {
        font-size: 14vw;
    }

    #info_icon {
        display: none;
    }
    
    #tutorial_icon {
        display: none;
    }
    
    #about_icon {
        display: none;
    }
}