main {
    height: calc(100% - var(--nav-height));
    width: 100%;
    background: var(--gradient);
    padding: 2em;
    display: flex;
    justify-content: center;
}

.form {
    border-radius: 20px;
    color: white;
    width: 60vw;
    background-color: var(--primary);
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr 0.5fr 0.2fr;
    gap: 0px 10px;
    grid-template-areas:
        "title title"
        "name email"
        "issue-title subject"
        "message message"
        "image image"
        "submit submit";
    padding: 2em;
}

.title {
    grid-area: title;
    overflow: hidden;
}

.name {
    grid-area: name;
}

.email {
    grid-area: email;
}

.issue-title {
    grid-area: issue-title;
}

.subject {
    grid-area: subject;
}

.message {
    grid-area: message;
}

.image {
    grid-area: image;
}

.submit {
    grid-area: submit;
}

.input {
    display: block;
}

input[type="text"],
input[type="email"],
select {
    padding: 1em;
    border-radius: 20px;
    background-color: var(--secondary);
    color: white;
    width: 100%;
    border: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
#message:focus {
    outline: none;
    border: 2px solid var(--accent);
}


#message {
    width: 100%;
    resize: none;
    padding: 1em;
    border-radius: 20px;
    background-color: var(--secondary);
    color: white;
    margin-bottom: 1em;
}

input[type="submit"],
input[type="file"] {
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 1em;
    border-radius: 20px;
}

input[type="submit"]:hover,
input[type="file"]:hover {
    cursor: pointer;
    border: 2px solid white;
}

select option:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

input[type="file"] {
    width: 100%;
}

@media (max-width: 600px) {
    .form {
        width: 90vw;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.2fr;
        gap: 0px 10px;
        grid-template-areas:
            "title"
            "name"
            "email"
            "issue-title"
            "subject"
            "message"
            "image"
            "submit";
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .form {
        width: 80vw;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.2fr;
        gap: 0px 0px;
        grid-template-areas:
            "title"
            "name"
            "email"
            "issue-title"
            "subject"
            "message"
            "image"
            "submit";
    }

}